.form-field-wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-wrapper {
  min-width: 170px;
}

input.field-facts__input__input {
  width: 100%;
}

.tooltipe {
  color: red;
  margin: 15px auto;
  font-size: 0.8rem;
  visibility: hidden;
}

.images-form-box {
  margin-top: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
}

label {
  margin-left: 10px;
}
span.images-form-title {
  color: #fff;
  font-weight: 300;
}
